body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.top-component-fixed {
    background-color: lightgray;
    text-align: center;
    position: sticky;
    width: 100%;
    top: 0;
}

.form-field {
    display: block;
    height: 25px;
    width: 250px;
    margin: 1rem auto;
    border: 2px solid black;
    border-radius: 4px;
}

.form-field-edit-textarea {
    height: 200px;
}

.form-submit {
    width: 90px;
    height: 30px;
    border-radius: 4px;
    background-color: #e3dede;
    margin-bottom: 10px;
}

.form-submit:hover {
    cursor: pointer;
    background-color: #989797;
}

.form-field:focus {
    box-shadow: 0 0 4px 0 black;
    outline: none;
}

.top-component-fixed h1 {
    padding: 10px;
    margin: 0;
    text-decoration: underline;
}

.post-meme-header {
    font-size: 20px;
    margin: 10px 0 0 0;
}

.memes-display {
    text-align: center;
    margin: 10px auto;
}

.memes-display hr {
    width: 50%;
}

.meme-container {
    border: 1px solid black;
    width: 350px;
    margin: 50px auto 10px auto;
}

.meme-image {
    margin: 20px auto;
}

.meme-image img {
    max-height: 600px;
    max-width: 300px;
}

.meme-footer p {
    width: 80%;
    margin: 10px auto;
}

.underline {
    text-decoration: underline;
}

.hidden {
    visibility: hidden;
    height: 0;
}

.options-container {
    width: 350px;
    margin: auto;
}

.delete-post {
    margin-right: 100px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.edit-post {
    margin-left: 100px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.close-edit-form {
    text-decoration: underline;
    cursor: pointer;
}